In [175]:
import requests

url = 'https://es.wikipedia.org/wiki/Copa_Mundial_de_F%C3%BAtbol_de_2018'
html = requests.get(url).content

from bs4 import BeautifulSoup
rows = []
localTeam = []

soup = BeautifulSoup(html, "lxml")
table = soup.find_all('table',{'class':'collapsible autocollapse vevent plainlist'})
for i in table:
    rows.append(i.find_all('tr'))

rows = [row[0].text.strip().split("\n") for row in rows]
for i in rows:
    localTeam.append([i[2],i[4].split(':')[0]])

result = {}
for card,value in localTeam:
        total = result.get(card,0) + int(value)
        result[card] = total
        
result

{'Rusia ': 10,
 'Egipto ': 0,
 'Uruguay ': 6,
 'Arabia Saudita ': 2,
 'Marruecos ': 0,
 'Portugal ': 4,
 'Irán ': 1,
 'España ': 3,
 'Francia ': 12,
 'Perú ': 0,
 'Dinamarca ': 1,
 'Australia ': 0,
 'Argentina ': 1,
 'Croacia ': 5,
 'Nigeria ': 3,
 'Islandia ': 1,
 'Costa Rica ': 0,
 'Brasil ': 6,
 'Serbia ': 1,
 'Suiza ': 2,
 'Alemania ': 2,
 'Suecia ': 2,
 'Corea del Sur ': 3,
 'México ': 0,
 'Bélgica ': 13,
 'Túnez ': 1,
 'Inglaterra ': 6,
 'Panamá ': 1,
 'Colombia ': 2,
 'Polonia ': 1,
 'Japón ': 2,
 'Senegal ': 0}

In [209]:
sum = 0
for num in localTeam[48:]:
    sum += int(num[1])
sum = sum /len(localTeam[48:])

In [214]:
import pandas as pd
colnames = ['Equipo', 'Gol']
df = pd.DataFrame(localTeam, columns=colnames)
df

             Equipo Gol
0            Rusia    5
1           Egipto    0
2            Rusia    3
3          Uruguay    1
4          Uruguay    3
5   Arabia Saudita    2
6        Marruecos    0
7         Portugal    3
8         Portugal    1
9             Irán    0
10            Irán    1
11          España    2
12         Francia    2
13            Perú    0
14       Dinamarca    1
15         Francia    1
16       Dinamarca    0
17       Australia    0
18       Argentina    1
19         Croacia    2
20       Argentina    0
21         Nigeria    2
22         Nigeria    1
23        Islandia    1
24      Costa Rica    0
25          Brasil    1
26          Brasil    2
27          Serbia    1
28          Serbia    0
29           Suiza    2
..              ...  ..
34   Corea del Sur    2
35          México    0
36         Bélgica    3
37           Túnez    1
38         Bélgica    5
39      Inglaterra    6
40      Inglaterra    0
41          Panamá    1
42        Colombia    1
43         Polonia    1
44           Japón    2
45         Polonia    0
46           Japón    0
47         Senegal    0
48         Uruguay    2
49         Francia    4
50          España    1
51         Croacia    1
52          Brasil    2
53         Bélgica    3
54          Suecia    1
55        Colombia    1
56         Uruguay    0
57          Brasil    1
58          Suecia    0
59           Rusia    2
60         Francia    1
61         Croacia    2
62         Bélgica    2
63         Francia    4

[64 rows x 2 columns]

In [206]:
import urllib.request, json 
with urllib.request.urlopen("http://worldcup.sfg.io/matches") as url:
    data = json.loads(url.read().decode())

def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list 

arrActions = []
for game in data:
    for action in game['home_team_events']:
        if action['type_of_event']=='goal':
            arrActions.append(action['player'])

#Remove(arrActions)

import collections

counter=collections.Counter(arrActions)
counter

Counter({'Iury GAZINSKY': 1,
         'Denis CHERYSHEV': 4,
         'Artem DZYUBA': 2,
         'Aleksandr GOLOVIN': 1,
         'CRISTIANO RONALDO': 3,
         'Paul POGBA': 2,
         'Sergio AGUERO': 1,
         'PHILIPPE COUTINHO': 2,
         'Dries MERTENS': 1,
         'Romelu LUKAKU': 4,
         'Juan QUINTERO': 1,
         'Grzegorz KRYCHOWIAK': 1,
         'Luis SUAREZ': 2,
         'Christian ERIKSEN': 1,
         'Kylian MBAPPE': 4,
         'NEYMAR': 2,
         'Ahmed MUSA': 2,
         'Aleksandar MITROVIC': 1,
         'Eden HAZARD': 2,
         'Michy BATSHUAYI': 1,
         'SON Heungmin': 2,
         'Marco REUS': 1,
         'Toni KROOS': 1,
         'John STONES': 2,
         'Jesse  LINGARD': 1,
         'Harry KANE': 1,
         'Takashi INUI': 1,
         'Keisuke HONDA': 1,
         'Diego LAXALT': 1,
         'Edinson CAVANI': 3,
         'SALEM ALDAWSARI': 1,
         'ISCO': 1,
         'Iago ASPAS': 2,
         'KIM Younggwon': 1,
         'Blerim DZEMAILI': 1,
         'Josip DRMIC': 1,
         'Jose Luis RODRIGUEZ': 1,
         'Benjamin PAVARD': 1,
         'Mario MANDZUKIC': 2,
         'ROBERTO FIRMINO': 1,
         'Jan VERTONGHEN': 1,
         'Marouane FELLAINI': 1,
         'Nacer CHADLI': 1,
         'Emil FORSBERG': 1,
         'Yerry MINA': 1,
         'RENATO AUGUSTO': 1,
         'MARIO FERNANDES': 1,
         'Samuel UMTITI': 1,
         'Ivan PERISIC': 1,
         'Thomas MEUNIER': 1})